.body-night {
  color: rgb(159, 159, 159);
  background-color: #252525;

  .todo-list > .title {
    color: rgb(237, 237, 237);
  }
  .search-input {
    background-color: transparent;
    border-color: aliceblue;
  }
  input {
    background-color: transparent;
    border-color: #6c63ff;
  }
  .checkbox-label {
    color: aliceblue;
  }
  .svg-chacckbox {
    fill: #252525;
  }
  .input-checkbox:checked + .checkbox-label span .svg-chacckbox {
    fill: #f7f7f7;
  }
  .select-dropdown {
    background: #252525;
    border: 1px solid #fcfcfc;
  }
  .select-dropdown li:hover {
    background: #343434;
  }
}
